*.7z
*.a
*.bak
**/build/
*.bz2
*.cache
.coverage
*.csv
dask-worker-space/
*.db
**/dist/
*.dll
*.doc
*.docx
*.docm
*.DS_Store
*.dylib
**/*.egg-info/
*.exe
*history
**/htmlcov/
**/.idea/
*.ipynb_checkpoints/
*.ipynb
*.json
*.log
*.msi
mu_rprog/slides/*.md
mu_rprog/slides/.cache
mu_rprog/code/*_files/
.mypy_cache/
*.ndjson
*.npy
*.o
*.parquet
*.pdf
*.pkl
*.ppt
*.pptm
*.pptx
*.pq
**/__pycache__/
*.py[cod]
.pytest_cache/
*.rar
*.rda
*.RData
*.rds
*.Rhistory
**/*.Rmd.html
*.so
*.sqlite
*.tar.gz
**/.vscode/
*.xls
*.xlsm
*.xlsx
*.zip

# exclusions
!mu_rprog/sample-data/data.json
!mu_rprog/sample-data/gdp.xlsx
