name: ci

on:
  pull_request:
    branches:
      - main

jobs:
  check-links:
    name: check-links
    runs-on: ubuntu-latest
    steps:
      # cache Lychee results to avoid hitting rate limits
      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - uses: actions/checkout@v6
      - name: Lychee URL checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: >-
            --cache
            --no-progress
            --timeout 10
            --max-retries 2
            --accept 200,429
            --exclude-path docs/conf.py
            './**/*.md'
            './**/*.R'
            './**/*.Rmd'
          # fail the action on broken links
          fail: true
          failIfEmpty: true
  lint:
    name: lint
    runs-on: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          persist-credentials: false
          submodules: false
      - uses: pre-commit/action@v3.0.1
      - name: set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
      - name: Lint R code
        shell: bash
        run: |
          .ci/lint-r.sh
  all-successful:
    if: always()
    runs-on: ubuntu-latest
    needs: [check-links, lint]
    steps:
      - name: Note that all tests succeeded
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
